html {
    color: #222;
    font-size: 10px;
    line-height: 1.4;
    box-sizing: border-box;
  }
  

body {
    font-family: Helvetica, Helvetica Neue, Arial;
    font-size: 15px;
    line-height: 26px;
}
ul {
    list-style-type: none;
  }
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #CB8F34;
    color: #eee8e8;
    cursor: pointer;
    padding: 5 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 1.4s;
    font-family: Helvetica, Helvetica Neue, Arial;
    font-size: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #5E70A1;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/* ---- Layout Containers ---- */

.main-header {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
}


/* Top left text */
.top-left {
    position: absolute;
    top: 50px;
    left: 16px;
}



/* ================================= 
  Media Queries
==================================== */


@media (min-width: 769px) {

	.main-header,
	.main-nav,
	.row {
		width: 100%;
        font-size: 20px;
        background-color: white;
        display: flex;
	}
	.main-header {

		flex-direction : column;
		align-items: center;
        font-size: 55px;
    }

	.col {
		flex: 1;
	}
}